@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

root{
    --bg-color-font: #061e33;
    --color-fontwite: #ffffff;
    --bg-color-fontprofile: #0e76a8;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

header{
    display: flex;
    justify-content: center;
    height: 70px;
}

.header h1, span {
    color: #FFFFFF;
}

.container{
    display: flex;
    justify-content: space-between;

    width: 1100px;
}

.logo{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
}

nav ul, nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
}

nav a {
    display: block;
    text-decoration: none;
    color: var(--bg-color-font);
    text-transform: uppercase;
    padding: 15px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;

}

nav a:hover{
    background-color: #061e33;
    color: #ffffff;
}

/* banner css */

.banner {
    display: flex;
    justify-content: center;
    margin: -10px;
}

.fundo {
    border-bottom: 500px solid #061e33; 
    border-left: 320px solid transparent; 
    border-right: 0px solid transparent; 
    height: 0px; 
    width: 1000px; 
}
.fundo {
    position: absolute;
    z-index: -1;
    margin-left: 600px;
}

.banner-left img {

    width: 230px;
    height: 500px;
}

.banner-right {
    
    margin-left: 300px;
    margin-top: 0;
}

.banner-right{
}

.banner-right h1 {
    font-size: 60px;
    margin: 0;
    padding-top: 70px;
}

.banner-right span {
    font-size: 24px;
}

.banner-right b {
    color: #5099d9;
}
.buttons-social-media{
    margin-top: 4em;
}
.buttons-social-media i {
    color: #ffffff;
    margin-right: 8px;
}
.buttons-social-media a {
    padding: 10px 15px;
    text-decoration: none;
}

.social-media-linkedin {
    background-color: #0e76a8;
    border-radius: 8px;
    color: #ffffff;
    margin-right: 10px;
}
.social-media-linkedin:hover{
    background-color: #ebf7fd;
    border-radius: 8px;
    color: #0e76a8;
    margin-right: 10px;
}
.social-media-linkedin:hover i{
   color: #0e76a8;
}



.social-media-github {
    background-color: #000000;
    border-radius: 8px;
    color: #ffffff;
}
.social-media-github:hover {
    background-color: #fafafa;
    border: solid 0.03px #e4e4e4;
    border-radius: 8px;
    color: #000000;
}
.social-media-github:hover i{
    color: #000000;
}

/* css profile */
.profile {
    background-color: var(--bg-color-fontprofile);
    height: 200px;
    display: flex;
    justify-content: center;
}

.profile h3 {
    font-size: 32px;
    font-weight: 400;
}

