@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

root{
    --bg-color-font: #061e33;
}

body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    height: 100px;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}


.logo{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
}

nav ul, nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
}

nav a {
    display: block;
    text-decoration: none;
    color: var(--bg-color-font);
    text-transform: uppercase;
    padding: 15px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;

}

nav a:hover{
    background-color: #061e33;
    color: #ffffff;
}